@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container text-center">
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <img src="~/images/madisoncounty.png" class="img-fluid" alt="...">
        </div>
        <div class="col">
        </div>
    </div>
</div>
<div class="text-center">
    <h1><u>Madison County Government Internal System</u></h1>

    <div class="container mt-5">
        <div class="jumbotron">
            <h2 class="display-4">Brought to You By Tech Titans</h2>
            <p class="lead">Parker Adams, Luke Evans, Jordon Fischer, Alex Fish, Aidan Froehlich, Trevor Hudson, Dylan Kasher, Divij Kumar, Gabe Oduro, Alex Truong, Jeremy Wagner</p>
        </div>
    </div>
</div>
