h1 {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h2 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

p.lead {
    font-size: 18px;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    color: black;
    background-color: #ffffff;
}

td {
    color: white;
}

.custom-navbar-color {
    background-color: #28336E; /* Replace #yourCustomColor with your desired color code */
}

.btn-primary {
    background-color: #28336E;
    border-color: #28336E; /* Optionally, change border color */
}

form {
    background-color: #f2f2f2; /* Background color for the form */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
}
